##  Assignment on Universal Bank - Kavya Reddy Basupalli

### 1.Import Libraries

In [1]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import recall_score

np.random.seed(1)

### 2. Load the Data

In [2]:
df = pd.read_csv("C:/Users/Kavya Reddy Basupall/Downloads/UniversalBank (1).csv")

### 3. Explore the Data (Pre-processing of data)

In [3]:
df.head(5)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.tail(5)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

##### There are no categorical variables in the data.

In [6]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [7]:
df.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

##### There are no missing values in the data.

In [8]:
df.columns = [s.strip() for s in df.columns] 
df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [9]:
df = df.drop(columns=['ID', 'ZIP Code'])
df

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

##### We have dropped the unnecessary columns

### 4. Data Splitting

In [10]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=1)
target = 'CD Account'
predictors = list(df.columns)
predictors.remove(target)

 ##### We have done 70/30 ratio split and to avoid repitition created variables to represent coulumns and next step shows the standardization in order to remove the differences in sacle.

In [11]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
scaler.fit(train_df[predictors])

# Transform the predictors of training and test sets
X_train = scaler.transform(train_df[predictors]) 
y_train = train_df[target] 

X_test = scaler.transform(test_df[predictors])
y_test = test_df[target]

### 5.Applying Models to the data

##### Before that creating a dataframe to store the results

In [12]:
performance = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})

#### 5.1 Logistic Regression

In [13]:
log_reg_model = LogisticRegression(penalty='none', max_iter=900)
_ = log_reg_model.fit(X_train, np.ravel(y_train))

In [14]:
model_preds = log_reg_model.predict(X_test)
c_matrix_1 = confusion_matrix(y_test, model_preds)
TP = c_matrix_1[1][1]
TN = c_matrix_1[0][0]
FP = c_matrix_1[0][1]
FN = c_matrix_1[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"default logistic", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance

              model  Accuracy  Precision   Recall       F1
0  default logistic     0.978        1.0  0.60241  0.75188

####  5.1.2 Change to liblinear solver

In [15]:
log_reg_liblin_model = LogisticRegression(solver='liblinear').fit(X_train, np.ravel(y_train))

In [16]:
model_preds = log_reg_liblin_model.predict(X_test)
c_matrix_2 = confusion_matrix(y_test, model_preds)
TP = c_matrix_2[1][1]
TN = c_matrix_2[0][0]
FP = c_matrix_2[0][1]
FN = c_matrix_2[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"liblinear logistic", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance

                model  Accuracy  Precision   Recall       F1
0    default logistic     0.978        1.0  0.60241  0.75188
0  liblinear logistic     0.978        1.0  0.60241  0.75188

#### 5.1.3 L2 Regularization

In [17]:
log_reg_L2_model = LogisticRegression(penalty='l2', max_iter=1000)
_ = log_reg_L2_model.fit(X_train, np.ravel(y_train))

In [18]:
model_preds_3 = log_reg_L2_model.predict(X_test)
c_matrix_3 = confusion_matrix(y_test, model_preds)
TP = c_matrix_3[1][1]
TN = c_matrix_3[0][0]
FP = c_matrix_3[0][1]
FN = c_matrix_3[1][0]
#performance = pd.concat([performance, pd.DataFrame({'model':"L2 logistic", 
                                                    #'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    #'Precision': [TP/(TP+FP)], 
                                                    #'Recall': [TP/(TP+FN)], 
                                                    #'F1': [2*TP/(2*TP+FP+FN)]
                                                     #}, index=[0])])
#performance
recall_3 = recall_score(y_test, model_preds_3)
recall_3

0.6024096385542169

#### 5.1.4 L1 Regularization

In [19]:
log_reg_L1_model = LogisticRegression(solver='liblinear', penalty='l1')
_ = log_reg_L1_model.fit(X_train, np.ravel(y_train))

In [20]:
model_preds = log_reg_L1_model.predict(X_test)
c_matrix_4 = confusion_matrix(y_test, model_preds)
TP = c_matrix_4[1][1]
TN = c_matrix_4[0][0]
FP = c_matrix_4[0][1]
FN = c_matrix_4[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"L1 logistic", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance

                model  Accuracy  Precision   Recall       F1
0    default logistic     0.978        1.0  0.60241  0.75188
0  liblinear logistic     0.978        1.0  0.60241  0.75188
0         L1 logistic     0.978        1.0  0.60241  0.75188

#### 5.1.5 Elastic Net Regularization

In [21]:
log_reg_elastic_model = LogisticRegression(solver='saga', penalty='elasticnet', l1_ratio=0.5, max_iter=1000)
_ = log_reg_elastic_model.fit(X_train, np.ravel(y_train))

In [22]:
model_preds = log_reg_elastic_model.predict(X_test)
c_matrix_5 = confusion_matrix(y_test, model_preds)
TP = c_matrix_5[1][1]
TN = c_matrix_5[0][0]
FP = c_matrix_5[0][1]
FN = c_matrix_5[1][0]
performance = pd.concat([performance, pd.DataFrame({'model':"Elestic logistic", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

#### 5.1.6 Summary for logistic model

In [23]:
performance.sort_values(by=['Recall'])

                model  Accuracy  Precision   Recall       F1
0    default logistic     0.978        1.0  0.60241  0.75188
0  liblinear logistic     0.978        1.0  0.60241  0.75188
0         L1 logistic     0.978        1.0  0.60241  0.75188
0    Elestic logistic     0.978        1.0  0.60241  0.75188

#### 5.1.7 Logistic Regression using RandomSearch and Grid Search

In [24]:
score_measure = "recall"
kfolds = 5

param_grid = {'C':[0.001,0.1,0.001,1,10], # C is the regulization strength
               'penalty':['l1', 'l2','elasticnet','none'],
              'solver':['saga','liblinear'],
              'max_iter': np.arange(500,1000)
                  
}

lg = LogisticRegression()
rand_search = RandomizedSearchCV(estimator =lg, param_distributions=param_grid, cv=kfolds, n_iter=500,
                           scoring=score_measure, verbose=1, n_jobs=-1  # n_jobs=-1 will utilize all available CPUs 
                                )

_ = rand_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {rand_search.best_score_}")
print(f"... with parameters: {rand_search.best_params_}")

bestlogestic = rand_search.best_estimator_

Fitting 5 folds for each of 500 candidates, totalling 2500 fits
The best recall score is 0.6708245243128964
... with parameters: {'solver': 'liblinear', 'penalty': 'l2', 'max_iter': 529, 'C': 0.1}

C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
920 fits failed out of a total of 2500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
325 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 464, in _check_solver
    raise ValueError("penalty='none' is not supported for the liblinear solver")
ValueError: penalty='none' is not supported for the liblinear solver

--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1471, in fit
    raise ValueError(
ValueError: l1_ratio must be between 0 and 1; got (l1_ratio=None)

--------------------------------------------------------------------------------
295 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 457, in _check_solver
    raise ValueError(
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.         0.66627907        nan        nan        nan 0.
 0.66627907 0.66627907 0.25095137 0.66627907 0.25095137 0.67082452
        nan        nan 0.                nan 0.                nan
        nan        nan 0.66627907        nan        nan        nan
 0.25095137 0.25095137 0.66627907        nan 0.66627907 0.66627907
        nan        nan        nan 0.66627907 0.                nan
 0.                nan        nan        nan        nan        nan
        nan 0.         0.66627907 0.                nan 0.66627907
 0.66627907        nan 0.66627907 0.25095137 0.         0.66627907
        nan 0.67082452 0.66627907        nan        nan 0.
 0.67082452 0.         0.         0.66627907 0.66627907 0.25095137
        nan 0.66627907        nan 0.25095137 0.66627907 0.
 0.66627907        nan 0.         0.66627907        nan 0.
 0.                nan        nan        nan 0.67082452        nan
 0.66627907 0.66627907        nan 0.67082452        nan 0.66627907
 0.66627907 0.         0.         0.66627907        nan        nan
        nan        nan 0.66627907        nan        nan        nan
        nan 0.66627907 0.25095137 0.         0.66627907 0.
 0.66627907 0.66627907 0.                nan        nan        nan
 0.66627907        nan 0.66627907        nan        nan 0.66627907
 0.         0.25095137 0.         0.                nan 0.66627907
        nan 0.66627907 0.66627907 0.66627907 0.66627907 0.66627907
        nan 0.66627907 0.66627907 0.         0.         0.66627907
 0.66627907 0.66627907        nan        nan 0.66627907 0.66627907
 0.         0.         0.66627907        nan        nan 0.25095137
 0.         0.66627907        nan        nan 0.66627907        nan
        nan 0.66627907 0.66627907 0.66627907        nan 0.66627907
        nan 0.         0.66627907 0.66627907        nan 0.66627907
 0.66627907        nan 0.25095137 0.25095137        nan 0.
 0.66627907        nan 0.66627907 0.                nan        nan
 0.66627907 0.66627907        nan        nan 0.66627907 0.66627907
 0.66627907 0.66627907 0.66627907 0.66627907 0.66627907 0.66627907
 0.66627907 0.66627907        nan 0.67082452 0.         0.66627907
        nan 0.                nan 0.                nan 0.66627907
 0.         0.         0.66627907 0.25095137 0.66627907 0.
        nan        nan        nan        nan        nan 0.
        nan        nan        nan 0.         0.66627907 0.66627907
 0.                nan 0.         0.66627907        nan 0.25095137
 0.66627907        nan        nan 0.66627907        nan 0.66627907
 0.66627907 0.         0.66627907        nan 0.66627907 0.
        nan        nan 0.66627907        nan 0.         0.
        nan 0.66627907 0.66627907 0.66627907 0.66627907        nan
 0.66627907        nan 0.                nan 0.67082452 0.66627907
 0.66627907        nan 0.66627907 0.66627907 0.66627907 0.
 0.66627907 0.67082452        nan 0.25095137        nan        nan
 0.         0.66627907 0.66627907 0.66627907 0.66627907 0.
 0.         0.66627907 0.66627907 0.66627907 0.66627907 0.25095137
 0.66627907 0.66627907 0.66627907 0.25095137 0.66627907 0.66627907
 0.                nan        nan 0.25095137 0.         0.
        nan        nan 0.66627907        nan 0.                nan
 0.         0.66627907 0.25095137 0.         0.66627907 0.66627907
        nan        nan 0.66627907        nan 0.66627907 0.66627907
        nan 0.66627907        nan 0.                nan 0.
 0.25095137 0.67082452 0.67082452 0.66627907        nan 0.66627907
 0.67082452 0.         0.66627907        nan 0.67082452        nan
 0.66627907 0.66627907        nan 0.         0.66627907 0.
 0.66627907        nan 0.25095137        nan        nan 0.
 0.66627907        nan        nan        nan 0.66627907        nan
        nan 0.67082452 0.66627907 0.66627907        nan        nan
 0.                nan        nan        nan 0.66627907 0.66627907
 0.66627907 0.66627907 0.66627907 0.66627907 0.66627907        nan
        nan 0.66627907        nan        nan 0.         0.67082452
 0.66627907 0.66627907        nan 0.                nan 0.66627907
 0.         0.66627907 0.66627907        nan        nan 0.66627907
 0.25095137 0.66627907 0.66627907 0.66627907        nan 0.66627907
 0.66627907 0.25095137        nan        nan        nan 0.66627907
 0.66627907        nan        nan 0.                nan 0.66627907
 0.66627907 0.25095137 0.66627907 0.66627907 0.66627907 0.66627907
 0.66627907 0.66627907        nan 0.66627907 0.66627907 0.66627907
        nan        nan 0.66627907 0.66627907 0.66627907        nan
 0.66627907 0.66627907 0.66627907 0.66627907 0.         0.
 0.66627907        nan        nan        nan 0.                nan
 0.66627907 0.67082452 0.66627907        nan 0.66627907        nan
        nan        nan        nan        nan 0.66627907 0.67082452
 0.         0.66627907 0.66627907 0.66627907 0.                nan
        nan 0.                nan 0.                nan 0.66627907
 0.         0.66627907        nan 0.66627907        nan        nan
 0.66627907 0.66627907 0.66627907 0.66627907 0.         0.66627907
 0.67082452        nan        nan        nan 0.66627907        nan
        nan 0.66627907        nan        nan 0.66627907 0.
        nan 0.                nan 0.67082452 0.66627907        nan
        nan        nan        nan        nan        nan        nan
 0.66627907 0.66627907 0.66627907 0.         0.66627907        nan
 0.         0.66627907]
  warnings.warn(

In [25]:
score_measure = "recall"
kfolds = 5
best_penality = rand_search.best_params_['penalty']
best_solver = rand_search.best_params_['solver']
min_regulization_strength=rand_search.best_params_['C']
min_iter = rand_search.best_params_['max_iter']

#Using the best parameters from the Random Search to use as range for the parameters to do the grid search
param_grid = {
    
    'C':np.arange(min_regulization_strength-0.05,min_regulization_strength+0.05), 
               'penalty':[best_penality],
              'solver':[best_solver],
              'max_iter': np.arange(min_iter-300,min_iter+300)
}

lgr =  LogisticRegression()
grid_search = GridSearchCV(estimator = lgr, param_grid=param_grid, cv=kfolds, 
                           scoring=score_measure, verbose=1, n_jobs=-1 # n_jobs=-1 will utilize all available CPUs 
                )

_ = grid_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {grid_search.best_score_}")
print(f"... with parameters: {grid_search.best_params_}")

bestlgr = grid_search.best_estimator_

Fitting 5 folds for each of 600 candidates, totalling 3000 fits
The best recall score is 0.6708245243128964
... with parameters: {'C': 0.05, 'max_iter': 229, 'penalty': 'l2', 'solver': 'liblinear'}

In [26]:
c_matrix = confusion_matrix(y_test, grid_search.predict(X_test))
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
print(f"Accuracy={(TP+TN)/(TP+TN+FP+FN):.7f} Precision={TP/(TP+FP):.7f} Recall={TP/(TP+FN):.7f} F1={2*TP/(2*TP+FP+FN):.7f}")
Recall_lr={TP/(TP+FN)}

Accuracy=0.9780000 Precision=1.0000000 Recall=0.6024096 F1=0.7518797

In [27]:
performance = pd.concat([performance, pd.DataFrame({'model':"logistic using random & grid search", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])

### 5.2 Model the data using the SVM models

##### Let's create a dataframe to load the SVM models

In [28]:
performance_svm = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})

#### 5.2.1 Fit a SVM classification model using linear kernal

In [29]:
svm_lin_model = SVC(kernel="linear")
_ = svm_lin_model.fit(X_train, np.ravel(y_train))

In [30]:
model_preds = svm_lin_model.predict(X_test)
c_matrix_6 = confusion_matrix(y_test, model_preds)
TP = c_matrix_6[1][1]
TN = c_matrix_6[0][0]
FP = c_matrix_6[0][1]
FN = c_matrix_6[1][0]
performance_svm = pd.concat([performance_svm, pd.DataFrame({'model':"linear svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance_svm

        model  Accuracy  Precision   Recall       F1
0  linear svm     0.978        1.0  0.60241  0.75188

#### 5.2.2 Fit a SVM classification model using rbf kernal

In [31]:
svm_rbf_model = SVC(kernel="rbf", C=10, gamma='scale')
_ = svm_rbf_model.fit(X_train, np.ravel(y_train))

In [32]:
model_preds = svm_rbf_model.predict(X_test)
c_matrix_7 = confusion_matrix(y_test, model_preds)
TP = c_matrix_7[1][1]
TN = c_matrix_7[0][0]
FP = c_matrix_7[0][1]
FN = c_matrix_7[1][0]
performance_svm = pd.concat([performance_svm, pd.DataFrame({'model':"rbf svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance_svm

        model  Accuracy  Precision   Recall        F1
0  linear svm  0.978000   1.000000  0.60241  0.751880
0     rbf svm  0.974667   0.909091  0.60241  0.724638

#### 5.2.3 Fit a SVM classification model using polynomial kernal

In [33]:
svm_poly_model = SVC(kernel="poly", degree=3, coef0=1, C=10)
_ = svm_poly_model.fit(X_train, np.ravel(y_train))

In [34]:
model_preds = svm_poly_model.predict(X_test)
c_matrix_8 = confusion_matrix(y_test, model_preds)
TP = c_matrix_8[1][1]
TN = c_matrix_8[0][0]
FP = c_matrix_8[0][1]
FN = c_matrix_8[1][0]
performance_svm = pd.concat([performance_svm, pd.DataFrame({'model':"poly svm", 
                                                    'Accuracy': [(TP+TN)/(TP+TN+FP+FN)], 
                                                    'Precision': [TP/(TP+FP)], 
                                                    'Recall': [TP/(TP+FN)], 
                                                    'F1': [2*TP/(2*TP+FP+FN)]
                                                     }, index=[0])])
performance_svm

        model  Accuracy  Precision   Recall        F1
0  linear svm  0.978000   1.000000  0.60241  0.751880
0     rbf svm  0.974667   0.909091  0.60241  0.724638
0    poly svm  0.970000   0.806452  0.60241  0.689655

#### 5.3 Decision Tree Modelling using RandomSearchCV combined with GridSearchCV

Using the Random search to get the best parameters from the range which can be later used in the Grid search to get more refined results with less overfitting

In [35]:
score_measure = "recall"
kfolds = 5

param_grid = {
    'min_samples_split': np.arange(1,100),  
    'min_samples_leaf': np.arange(1,100),
    'min_impurity_decrease': np.arange(0.0001, 0.0005),
    'max_leaf_nodes': np.arange(5, 100), 
    'max_depth': np.arange(1,25), 
    'criterion': ['entropy', 'gini'],
}

dtree = DecisionTreeClassifier()
rand_search = RandomizedSearchCV(estimator = dtree, param_distributions=param_grid, cv=kfolds, n_iter=500,
                           scoring=score_measure, verbose=1, n_jobs=-1,  # n_jobs=-1 will utilize all available CPUs 
                           return_train_score=True)

_ = rand_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {rand_search.best_score_}")
print(f"... with parameters: {rand_search.best_params_}")

bestRecallTree = rand_search.best_estimator_

Fitting 5 folds for each of 500 candidates, totalling 2500 fits
The best recall score is 0.7076109936575052
... with parameters: {'min_samples_split': 97, 'min_samples_leaf': 3, 'min_impurity_decrease': 0.0001, 'max_leaf_nodes': 89, 'max_depth': 19, 'criterion': 'gini'}

C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 2500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 250, in fit
    raise ValueError(
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.29682875 0.59830867 0.59830867 0.59830867 0.59830867 0.59344609
 0.59830867 0.36194503 0.55729387 0.6756871  0.6256871  0.59830867
 0.59830867 0.59830867 0.14545455 0.59830867 0.59830867 0.59830867
 0.         0.29682875 0.         0.59830867 0.59376321 0.56162791
 0.62114165 0.36194503 0.652537   0.59376321 0.59344609 0.54799154
 0.29682875 0.64799154 0.552537   0.59830867 0.51638478 0.59830867
 0.36194503 0.12272727 0.65285412 0.59830867 0.53890063 0.12272727
 0.51638478 0.59830867 0.05       0.63890063 0.59830867 0.59830867
 0.58921776 0.14545455 0.59830867 0.59830867 0.59830867 0.56183932
 0.59830867 0.59830867 0.14545455 0.14545455 0.50697674 0.36194503
 0.12272727 0.63890063 0.05       0.14545455 0.56162791 0.56649049
 0.6435518  0.63890063 0.59830867 0.63890063 0.59830867 0.59830867
 0.14545455 0.         0.59830867 0.         0.59830867 0.59830867
 0.59830867 0.652537   0.67114165 0.62103594 0.59830867 0.36194503
 0.56183932 0.36194503 0.         0.36194503 0.64799154 0.36194503
 0.59830867 0.59830867 0.59830867 0.59830867 0.         0.4846723
 0.29682875 0.70295983 0.59830867        nan 0.19545455 0.56162791
 0.36194503 0.59830867 0.36194503        nan 0.         0.57526427
 0.67114165 0.59830867 0.05       0.59344609 0.53890063 0.59830867
 0.59830867 0.652537   0.59830867 0.59830867 0.         0.59830867
 0.19545455 0.56162791 0.652537   0.59830867 0.29682875 0.4846723
 0.56162791 0.59830867 0.59830867 0.59830867 0.59830867 0.
 0.29682875 0.70295983 0.59830867 0.23773784 0.62114165 0.4846723
 0.6845666  0.59830867 0.59830867 0.4846723  0.59830867 0.65708245
 0.59830867 0.         0.55718816 0.49788584 0.12272727 0.64799154
 0.12272727        nan 0.51638478 0.59830867 0.59830867 0.52061311
 0.59830867 0.60295983 0.60750529 0.59830867 0.29682875 0.51638478
 0.19545455 0.6845666  0.29682875 0.59830867 0.56162791 0.56183932
 0.36194503 0.59830867 0.54799154 0.         0.59841438 0.59830867
 0.29682875 0.14545455 0.59830867 0.65750529 0.05       0.59830867
 0.5755814  0.59830867 0.59830867 0.59830867 0.59344609 0.12272727
 0.29682875 0.59830867 0.59830867 0.59830867 0.29682875 0.59830867
 0.59830867 0.59830867 0.59830867 0.         0.59830867 0.65718816
 0.14545455 0.64386892 0.23773784 0.59830867 0.29682875 0.12272727
        nan 0.05       0.59830867 0.69841438 0.29682875 0.55729387
 0.14545455 0.29682875 0.29682875 0.12272727 0.29682875 0.29682875
 0.59830867 0.12272727 0.70295983 0.14545455 0.64799154 0.64820296
 0.59830867 0.62114165 0.29682875 0.29682875 0.59830867 0.
 0.29682875 0.29682875 0.59830867 0.14545455 0.59830867 0.59830867
 0.29682875 0.59830867 0.59376321 0.         0.59830867 0.56183932
 0.29682875 0.29682875 0.36194503 0.59830867 0.63890063 0.64799154
 0.59830867 0.62103594 0.58002114 0.29682875 0.14545455 0.6256871
 0.59830867 0.51638478 0.29682875 0.59830867 0.29682875        nan
 0.59830867 0.59830867 0.05       0.59830867 0.14545455 0.57547569
 0.         0.29682875 0.14545455 0.29682875 0.56162791 0.12272727
 0.70295983 0.59830867 0.4846723  0.56162791 0.63890063 0.59830867
 0.59830867 0.05       0.60295983 0.64799154 0.70295983 0.56162791
 0.52061311 0.36194503 0.59830867 0.59830867 0.69841438 0.29682875
 0.51638478 0.14545455 0.59830867 0.65750529 0.12272727 0.59830867
 0.65708245 0.64799154 0.59830867 0.14545455 0.12272727 0.59830867
 0.36194503 0.652537   0.59830867 0.59830867 0.59830867 0.48879493
 0.4846723  0.29682875 0.63890063 0.63890063 0.59344609 0.59830867
 0.         0.36194503 0.4846723  0.59830867 0.56183932 0.29682875
 0.56162791 0.36194503 0.36194503 0.63890063 0.14545455 0.12272727
 0.60708245 0.29682875 0.6256871         nan 0.59830867 0.59830867
 0.29682875 0.36194503 0.59344609 0.59830867 0.59376321 0.70295983
 0.59830867 0.4846723  0.50697674 0.12272727 0.59830867 0.59830867
 0.29682875 0.         0.65285412 0.4846723  0.         0.4846723
 0.29682875 0.59830867 0.60295983 0.         0.05       0.05
 0.59830867 0.652537   0.29682875 0.59830867 0.         0.36194503
 0.59830867 0.14545455 0.29682875 0.         0.         0.59830867
 0.59830867 0.63890063 0.59830867 0.56183932 0.59344609 0.59830867
 0.59830867 0.         0.66649049 0.59830867 0.59830867 0.64799154
 0.12272727 0.70761099 0.59830867 0.4846723  0.6256871  0.14545455
 0.59830867 0.59830867 0.         0.05       0.59830867 0.59841438
 0.         0.59830867 0.56162791 0.63890063 0.         0.56162791
 0.59830867 0.59830867 0.14545455 0.19545455 0.59830867 0.69408034
 0.59830867 0.59830867 0.59830867 0.         0.652537   0.59830867
 0.05       0.66627907 0.59344609 0.53890063 0.59376321 0.61205074
 0.59830867 0.59830867 0.70295983 0.59830867 0.59830867 0.59830867
 0.66649049 0.         0.69841438 0.59830867 0.29682875 0.
 0.29682875 0.29682875 0.59830867 0.29682875 0.52526427 0.59344609
 0.29682875 0.29682875 0.         0.59830867 0.         0.29682875
 0.65264271 0.29682875 0.59830867 0.59830867 0.4846723  0.61205074
 0.56162791 0.         0.66649049 0.36194503 0.70295983 0.64799154
 0.29682875 0.54799154 0.70295983 0.36194503 0.29682875 0.6435518
 0.         0.52526427 0.         0.51638478 0.59830867 0.4846723
 0.53890063 0.59830867 0.59830867 0.59344609 0.59830867 0.29682875
 0.59830867 0.49788584 0.652537   0.65750529 0.29682875 0.68002114
 0.23773784 0.29682875 0.652537   0.6435518  0.65708245 0.
 0.56183932 0.59376321 0.64799154 0.58921776 0.59830867 0.14545455
 0.05       0.36194503 0.4846723  0.57526427 0.         0.59830867
 0.55729387 0.05       0.64799154 0.14545455 0.36194503 0.29682875
 0.29682875 0.63890063]
  warnings.warn(
C:\Users\Kavya Reddy Basupall\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [0.33905844 0.59818182 0.59818182 0.59818182 0.59818182 0.62438961
 0.59818182 0.39246753 0.53538312 0.71803247 0.67003896 0.59818182
 0.59818182 0.59818182 0.15542857 0.59818182 0.59818182 0.59818182
 0.         0.33905844 0.         0.59818182 0.58675325 0.6061039
 0.65861039 0.39246753 0.64267532 0.58675325 0.62438961 0.56038961
 0.33905844 0.65524675 0.57067532 0.59818182 0.49424026 0.59818182
 0.39246753 0.15314286 0.64949351 0.59818182 0.55924675 0.15314286
 0.49766883 0.59818182 0.072      0.63924675 0.59818182 0.59818182
 0.61866883 0.15542857 0.59818182 0.59818182 0.59818182 0.54681169
 0.59818182 0.59818182 0.15542857 0.15542857 0.50338961 0.39246753
 0.15314286 0.63924675 0.072      0.15542857 0.6061039  0.57181169
 0.64951299 0.64838961 0.59818182 0.63924675 0.59818182 0.59818182
 0.15542857 0.         0.59818182 0.         0.59818182 0.59818182
 0.59818182 0.65067532 0.65751299 0.63695455 0.59818182 0.39246753
 0.54566883 0.39246753 0.         0.39246753 0.66206494 0.39246753
 0.59818182 0.59818182 0.59818182 0.59818182 0.         0.49646753
 0.33905844 0.70318182 0.59818182        nan 0.21942857 0.6061039
 0.39246753 0.59818182 0.39246753        nan 0.         0.61753247
 0.74774675 0.59818182 0.072      0.62438961 0.55924675 0.59818182
 0.59818182 0.64267532 0.59818182 0.59818182 0.         0.59818182
 0.21942857 0.6061039  0.64267532 0.59818182 0.33905844 0.49646753
 0.6061039  0.59818182 0.59818182 0.59818182 0.59818182 0.
 0.33905844 0.70318182 0.59818182 0.27391558 0.65861039 0.49646753
 0.70662987 0.59818182 0.59818182 0.49646753 0.59818182 0.66438961
 0.59818182 0.         0.5729026  0.4931039  0.15314286 0.65524675
 0.15314286        nan 0.49424026 0.59818182 0.59818182 0.51253247
 0.59818182 0.62318182 0.63575325 0.59818182 0.33905844 0.49424026
 0.21942857 0.8322013  0.33905844 0.59818182 0.6061039  0.54566883
 0.39246753 0.59818182 0.58324675 0.         0.62546753 0.59818182
 0.33905844 0.15542857 0.59818182 0.68832468 0.072      0.59818182
 0.59581169 0.59818182 0.59818182 0.59818182 0.62438961 0.13828571
 0.33905844 0.59818182 0.59818182 0.59818182 0.33905844 0.59818182
 0.59818182 0.59818182 0.59818182 0.         0.59818182 0.66892208
 0.15542857 0.66661039 0.27391558 0.59818182 0.33905844 0.15314286
        nan 0.072      0.59818182 0.69175325 0.33905844 0.53538312
 0.15542857 0.33905844 0.33905844 0.15314286 0.33905844 0.33905844
 0.59818182 0.15314286 0.70318182 0.15542857 0.65524675 0.65292857
 0.59818182 0.65861039 0.33905844 0.33905844 0.59818182 0.
 0.33905844 0.33905844 0.59818182 0.15542857 0.59818182 0.59818182
 0.33905844 0.59818182 0.58675325 0.         0.59818182 0.54566883
 0.33905844 0.33905844 0.39246753 0.59818182 0.63924675 0.65524675
 0.59818182 0.63695455 0.56624026 0.33905844 0.15542857 0.67003896
 0.59818182 0.49424026 0.33905844 0.59818182 0.33905844        nan
 0.59818182 0.59818182 0.072      0.59818182 0.15542857 0.55595455
 0.         0.33905844 0.15542857 0.33905844 0.6061039  0.15314286
 0.70318182 0.59818182 0.49646753 0.6061039  0.63924675 0.59818182
 0.59818182 0.072      0.62318182 0.66206494 0.70318182 0.6061039
 0.51253247 0.39246753 0.59818182 0.59818182 0.69175325 0.33905844
 0.49538312 0.15542857 0.59818182 0.68832468 0.15314286 0.59818182
 0.66324675 0.66206494 0.59818182 0.15542857 0.15314286 0.59818182
 0.39246753 0.65067532 0.59818182 0.59818182 0.59818182 0.4851039
 0.49646753 0.33905844 0.63924675 0.63924675 0.62438961 0.59818182
 0.         0.39246753 0.49646753 0.59818182 0.54566883 0.33905844
 0.6061039  0.39246753 0.39246753 0.63924675 0.15542857 0.15314286
 0.63581818 0.33905844 0.67003896        nan 0.59818182 0.59818182
 0.33905844 0.39246753 0.62438961 0.59818182 0.58675325 0.70318182
 0.59818182 0.49646753 0.50338961 0.15314286 0.59818182 0.59818182
 0.33905844 0.         0.64949351 0.49646753 0.         0.49646753
 0.33905844 0.59818182 0.62318182 0.         0.072      0.072
 0.59818182 0.64267532 0.33905844 0.59818182 0.         0.39246753
 0.59818182 0.15542857 0.33905844 0.         0.         0.59818182
 0.59818182 0.63924675 0.59818182 0.54566883 0.62438961 0.59818182
 0.59818182 0.         0.65181169 0.59818182 0.59818182 0.66434416
 0.13828571 0.70545455 0.59818182 0.49646753 0.67003896 0.15542857
 0.59818182 0.59818182 0.         0.072      0.59818182 0.61175325
 0.         0.59818182 0.6061039  0.63924675 0.         0.6061039
 0.59818182 0.59818182 0.15542857 0.21942857 0.59818182 0.73401299
 0.59818182 0.59818182 0.59818182 0.         0.65067532 0.59818182
 0.072      0.68605844 0.62438961 0.55924675 0.58675325 0.64832468
 0.59818182 0.59818182 0.70318182 0.59818182 0.59818182 0.59818182
 0.65181169 0.         0.69175325 0.59818182 0.33905844 0.
 0.33905844 0.33905844 0.59818182 0.33905844 0.53753247 0.62438961
 0.33905844 0.33905844 0.         0.59818182 0.         0.33905844
 0.71457143 0.33905844 0.59818182 0.59818182 0.49646753 0.64718182
 0.6061039  0.         0.65181169 0.39246753 0.70318182 0.65638961
 0.33905844 0.58324675 0.70318182 0.39246753 0.33905844 0.64837013
 0.         0.53753247 0.         0.49424026 0.59818182 0.49646753
 0.55924675 0.59818182 0.59818182 0.62438961 0.59818182 0.33905844
 0.59818182 0.4931039  0.65067532 0.68832468 0.33905844 0.76257792
 0.27391558 0.33905844 0.64267532 0.65978571 0.67920779 0.
 0.54566883 0.58675325 0.65524675 0.61866883 0.59818182 0.15542857
 0.072      0.39246753 0.49646753 0.60953247 0.         0.59818182
 0.53538312 0.072      0.66206494 0.15542857 0.39246753 0.33905844
 0.33905844 0.63924675]
  warnings.warn(

In [36]:
score_measure = "recall"
kfolds = 5
min_samples_split = rand_search.best_params_['min_samples_split']
min_samples_leaf = rand_search.best_params_['min_samples_leaf']
min_impurity_decrease = rand_search.best_params_['min_impurity_decrease']
max_leaf_nodes = rand_search.best_params_['max_leaf_nodes']
max_depth = rand_search.best_params_['max_depth']
criterion = rand_search.best_params_['criterion']
#Using the best parameters from the Random Search to use as range for the parameters to do the grid search
param_grid = {
    'min_samples_split': np.arange(min_samples_split-2,min_samples_split+2),  
    'min_samples_leaf': np.arange(min_samples_leaf-2,min_samples_leaf+2),
    'min_impurity_decrease': np.arange(min_impurity_decrease-0.0001, min_impurity_decrease+0.0001, 0.00005),
    'max_leaf_nodes': np.arange(max_leaf_nodes-2,max_leaf_nodes+2), 
    'max_depth': np.arange(max_depth-2,max_depth+2), 
    'criterion': [criterion]
}

dtree = DecisionTreeClassifier()
grid_search = GridSearchCV(estimator = dtree, param_grid=param_grid, cv=kfolds, 
                           scoring=score_measure, verbose=1, n_jobs=-1,  # n_jobs=-1 will utilize all available CPUs 
                           return_train_score=True)

_ = grid_search.fit(X_train, y_train)

print(f"The best {score_measure} score is {grid_search.best_score_}")
print(f"... with parameters: {grid_search.best_params_}")

bestRecallTree = grid_search.best_estimator_

Fitting 5 folds for each of 1024 candidates, totalling 5120 fits
The best recall score is 0.7076109936575052
... with parameters: {'criterion': 'gini', 'max_depth': 17, 'max_leaf_nodes': 87, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 95}

In [37]:
c_matrix = confusion_matrix(y_test, grid_search.predict(X_test))
TP = c_matrix[1][1]
TN = c_matrix[0][0]
FP = c_matrix[0][1]
FN = c_matrix[1][0]
print(f"Accuracy={(TP+TN)/(TP+TN+FP+FN):.7f} Precision={TP/(TP+FP):.7f} Recall={TP/(TP+FN):.7f} F1={2*TP/(2*TP+FP+FN):.7f}")

Accuracy=0.9686667 Precision=0.7571429 Recall=0.6385542 F1=0.6928105

###  Conclusion:
1.Among all the predictive models so far, It is clear that Decision Tree is the best model as it shows our measuring score recall value more.

2.As we clearly observe recall value is same for all logistic regression and SVM Models with a value of 0.60241 this may be due to data imbalance.

3.It is clear that using random search and grid search performance with decision trees is better.